.home{
    width:100%;
    margin:auto;
    margin-top:50px;
    padding:60px 0;
}

.hero{
    background-image: url(../assets/laptop_image.jpg);
    width: 100%;
    height: 87vh;
    background-size: cover;
    background-position: center;
}

.hero-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content h2{
    font-weight: lighter;
    font-size: 1rem;
    padding: 5px;
}

.hero-content h1{
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 15px;
}

.hero-content p{
    font-size: 20px;
    font-weight: lighter;
    padding: 15px;
}

.hero-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.hero-btns button{
    padding: 20px 45px;
    border-radius: 8px;
}

.hero-btn1{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f5b21a;
    border: none;
    transition: 0.4s;
}

.hero-btn1:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.hero-btn2{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #ccc;
    transition: 0.4s;
}

.hero-btn2:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.home-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:5px;
}

.home-text p{
    max-width:600px;
    line-height:1.8;
    color:#5f6b7a;
    font-size:20px;
}

.home-text h1{
    font-size:40px;
    font-weight:bold;
    color:#121826;
    line-height:1.1;
}

.home-text span{
    color:#FFC107;
}

.cards{
    display:flex;
    gap:25px;
    margin-top:50px;
}

.card{
    width:220px;
    padding:35px 20px;
    border-radius:20px;
    background:whitesmoke;
    border:1px solid #ddd;
    text-align:center;
    box-shadow: 0 4px 12px rgba(3, 3, 3, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease-out;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    background-color: white;
    border-color: #FFC107;
    cursor: pointer;
}

.card:hover .card-details{
    color: #FFC107;
}

.card-details h3{
    font-size:18px;
    color:black;
    margin-bottom:8px;
}

.card-details p{
    font-size:14px;
    color:gray;
    margin-bottom:0;
}

.short-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 80px 20px 20px;
}

.services{
    background-color: whitesmoke;
    padding: 50px;
}

.services-part{
    padding: 20px;
}

.services-part h2{
    color:black;
    margin-bottom:20px;
    border-bottom: 3px solid #f5b21a;
    font-weight: bolder;
    font-size:40px;
    line-height:1.1;
}

.services-part p{
    font-size:20px;
    color:black;
    line-height:1.8;
    max-width:600px;
    margin:auto;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 50px;
}

.service-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(3, 3, 3, 0.1);
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s;
    padding: 40px;
}

.service-card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);
    transform:translateZ(5px);
    transform: rotateZ(1deg);
    transition: all 0.3s ease-in-out;
}

.service-card-body {
    padding: 35px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-card-body h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
    padding: 10px;
}

.service-card-body p {
    font-size: 1rem;
    color: black;
    margin-bottom: 0;
    padding: 10px;
}

.service-card-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.service-card-btns button{
    padding: 5px 20px;
}

.service-card-btn1{
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgb(78, 78, 219);
    color: white;
}

.service-card-btn1:hover {
    border-color: black;
    background-color: #f5b21a;
    color: black;
}

.service-card-btn2{
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgb(17, 238, 17);
    color: white;
}

.service-card-btn2:hover {
    border-color: black;
    background-color: rgb(17, 238, 17);
    color: black;
}