*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    position:fixed;
    top: 0;
    right: 0;
    background-color: rgb(210, 207, 207);
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

.navbar{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 15px 50px;
    background-color: rgb(76, 80, 113);
}

.link{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

.link:hover{
    color: rgb(255, 193, 7);
}

.link .dropdown-symbol{
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.7s ease;
}

.link:hover .dropdown-symbol{
    color: rgb(255, 193, 7);
    transform: rotate(180deg);
}

.link2{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: 0.4s;
    
}

.link2:hover{
    color: rgb(255, 193, 7);
    background-color: #f5f5f5;
}

.package-menu {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown {
    background-color: whitesmoke;
    position:absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    display:flex;
    flex-direction:column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: 0.5s;
}

.dropdown:hover{
    background-color: whitesmoke;
}

.tucode{
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    font-weight: bold;
    background-color: rgb(255, 193, 7);
    transition: 0.4s;
    cursor: pointer;
}

.tucode:hover{
    transform: translateY(-2px);
}

